.admin-body.dashboard-results {
	background-color: #e8e5ea;
	/*min-height: calc(100vh - 70px);*/
}

.tabs-menu-6 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 20px 0 0;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #f3f2f5;
}

.iframe-tab {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-top: 0;
	padding-bottom: 20px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-size: 16px;
	font-weight: 600;
	border-bottom: 1px solid #ddd9e1;
	color: rgba(51, 51, 51, 0.5);
	background-color: #f3f2f5;
}

.iframe-tab > div {
	line-height: 20px;
}

.iframe-tab.w--current {
	border-bottom-color: #939394;
	background-color: #f3f2f5;
	color: #333;
}

.iframe-details {
	padding: 20px;
}

.iframe-container {
	padding: 20px 0 0;
	border-bottom: 1px none #ddd9e1;
}

.form-block-6 {
	margin-bottom: 0;
}

.customiframe-grid {
	display: -ms-grid;
	display: grid;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	grid-auto-columns: 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	grid-template-areas: ".";
	-ms-grid-columns: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	-ms-grid-rows: auto 16px auto;
	grid-template-rows: auto auto;
}

@media screen and (max-width: 992px) {
	.customiframe-grid {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 768px) {
	.iframe-details {
		padding: 20px 10px;
	}
}

@media screen and (max-width: 768px) {
	.customiframe-grid {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
}

.customiframe-grid .forminput-div {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.div-block-285 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 5px;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.div-block-285 label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.div-block-285 .field-label {
	display: inline-block;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	-ms-grid-row-align: auto;
	align-self: auto;
	font-weight: 600;
}

.iframeinput-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 40px;
	max-height: 40px;
	padding-left: 0;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	border-style: solid;
	border-width: 1px;
	border-color: #e8e5ea;
	border-radius: 3px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
	background-image: linear-gradient(180deg, transparent, transparent);
	color: #333;
	overflow: hidden;
}

.iframe-dropdown {
	display: block;
	width: auto;
	max-height: none;
	min-height: 40px;
	margin: 0;
	padding: 4px 8px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	border: 1px none #000;
	background-color: transparent;
	font-family: 'Source Sans Pro', sans-serif;
	color: #333;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	text-align: left;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
	background-size: 16px;
	background-position: right center;
	background-repeat: no-repeat;
}

.iframe-input {
	min-height: auto;
	margin-bottom: 0;
	padding: 10px 12px;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	-ms-grid-row-align: auto;
	align-self: auto;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	border-style: none;
	border-width: 1px;
	border-color: rgba(27, 0, 51, 0.15);
	border-radius: 3px;
	background-color: transparent;
	box-shadow: none;
	font-size: 18px;
	line-height: 18px;
}

.color-button {
	width: 40px;
	height: 40px;
	max-height: none;
	max-width: none;
	min-height: auto;
	min-width: auto;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-left: 1px solid #ddd9e1;
	cursor: pointer;
}

.div-block-267 {
	display: -ms-grid;
	display: grid;
	padding-top: 20px;
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	-ms-grid-columns: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	-ms-grid-rows: auto;
	grid-template-rows: auto;
}

@media screen and (max-width: 600px) {
	.div-block-267 {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
}

.div-block-269 {
	display: -ms-grid;
	display: grid;
	padding: 20px;
	height: 100%;
	grid-auto-columns: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	-ms-grid-rows: auto auto;
	grid-template-rows: auto auto;
	border-style: solid;
	border-width: 1px;
	border-color: #ddd9e1;
	border-radius: 3px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
	background-image: linear-gradient(180deg, #fff, #fff);
}

.heading-55 {
	padding-left: 0;
	font-weight: 600;
}

.heading-60 {
	font-size: 16px;
	line-height: 20px;
}

.div-block-269 a {
	color: #2e89fe;
	text-decoration: none;
}

.div-block-270 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-top: 56.25%;
	height: auto;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	-o-object-fit: fill;
	object-fit: fill;
}

.div-block-270.t1 {
	background-image: url("../img/iframe-shot0.jpg");
}

.div-block-270.t2 {
	background-image: url("../img/iframe-shot1.jpg");
}

.div-block-270.t3 {
	background-image: url("../img/iframe-shot2.jpg");
}

.div-block-184 {
	padding: 100px 200px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(232, 229, 234, 0.95)), to(hsla(0, 0%, 100%, 0.8))), url("../img/iframe-header-bg.jpg");
	background-image: linear-gradient(180deg, rgba(232, 229, 234, 0.95), hsla(0, 0%, 100%, 0.8)), url("../img/iframe-header-bg.jpg");
	background-position: 0 0, 50% 0;
	background-size: auto, cover;
	background-repeat: repeat, no-repeat;
	background-attachment: scroll, fixed;
	text-align: center;
	transition: ease 0.3s;
}

@media screen and (max-width: 992px) {
	.div-block-184 {
		padding: 60px 100px;
	}
}

@media screen and (max-width: 768px) {
	.div-block-184 {
		padding: 40px 60px;
	}
}

@media screen and (max-width: 600px) {
	.div-block-184 {
		padding: 40px 20px;
	}
}

.div-block-184 .div-block-185 {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	text-align: left;
}

.div-block-184 .heading-28 {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #333;
	font-size: 32px;
	line-height: 32px;
	font-weight: 700;
}

.div-block-184 .paragraph-5 {
	margin: 0;
	padding-top: 20px;
	font-size: 18px;
	line-height: 24px;
	text-align: left;
}

.div-block-184 .link-10 {
	color: #2e89fe;
	text-decoration: none;
}

.copy-code-link {
	color: #2e89fe;
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;
}

.div-block-295 {
	position: static;
	left: 0;
	top: auto;
	right: 0;
	bottom: 0;
	z-index: 100;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0;
	background-color: hsla(0, 0%, 100%, 0.5);
	text-align: center;
}

.div-block-295 .image-13 {
	max-height: 15px;
	max-width: none;
}

.iframe-details ._20top-div {
	padding-top: 20px;
	padding-left: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

.iframe-details .accordionrow-div {
	padding-top: 0;
	padding-bottom: 10px;
}

.iframe-details .accordionrow-div * {
	transition: height ease 0.5s;
}

.iframe-details .accordingcontainer-div {
	display: block;
	overflow: visible;
	padding: 20px 20px 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(27, 0, 51, 0.15);
	border-radius: 3px;
	background-color: #fff;
	box-shadow: none;
	line-height: 14px;
	cursor: pointer;
}

.iframe-details .accordionheader-div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 10px;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: 0;
	-webkit-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
	border-bottom: 1px solid #ddd9e1;
	background-color: transparent;
	color: #333;
}

.iframe-details .accordion-header {
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
}

.iframe-details .accordioncontent-div {
	max-height: 0;
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 20px;
	border-style: solid none none;
	border-width: 1px;
	border-color: #ddd9e1 #000 #000;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 16px;
	transition: max-height 0.4s ease-out;
}

.iframe-details ._20topbottom-div {
	overflow: hidden;
	padding-top: 20px;
	border-top: 1px solid #ddd9e1;
}

.iframe-details p {
	margin: 0;
	color: #333;
	line-height: 20px;
}